*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    padding:20px;
}

nav{
    background:#222;
    padding:15px;
    text-align:center;
    margin-bottom:20px;
    border-radius:8px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:18px;
}

nav a:hover{
    text-decoration:underline;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

input,textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:6px;
}

button{
    padding:12px 20px;
    background:#222;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#444;
}

img{
    width:180px;
    margin:10px;
    border-radius:10px;
    box-shadow:0 0 5px #aaa;
}

#galleryBox{
    text-align:center;
}

/* Responsive for Mobile */
@media(max-width:600px){
    nav a{
        display:block;
        margin:10px 0;
        font-size:20px;
    }

    img{
        width:90%;
    }

    body{
        padding:10px;
    }
}